$lightGrey: #9e9e9e;
$halfBlack: hsla(0, 0%, 0%, 0.5);
$extraLightGrey: #eee;
$green : #008000;
$blue : #2196F3;
$white: #fff;
$red: #ff5252;

$secondary: $halfBlack;
$formBackground: $extraLightGrey;
$primaryAction: $green;
$headerColor: $blue;
$neutralButtonColor: $extraLightGrey;
$neutralButtonTextColor: $halfBlack;
$secondaryAction: $blue;
$neutralBoxColor: $extraLightGrey;