$smallScreen: "only screen and (max-width: 750px)";
$mediumScreen: "only screen and (min-width: 751px) and (max-width: 900px)";
$largeScreen: "only screen and (min-width: 901px) and (max-width: 1280px)";
$extraLargeScreen: "only screen and (min-width: 1281px)";
