@import "src/client/styles/general.scss";

.dataSheetTemplate{
  padding: 25px;
  -moz-box-shadow:    3px 3px 5px 6px $divider-color;
  -webkit-box-shadow: 3px 3px 5px 6px $divider-color;
  box-shadow:         3px 3px 5px 6px $divider-color;
  .md-input-has-value{
    .datasheet__label {
      color: $primary-color;
    }
  }
}

