<div>
  <div layout="row" layout-align="center center">
    <md-nav-bar md-selected-nav-item="vm.currentTemplate" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item class="datasheet__nav" md-nav-click="vm.selectTemplate('conditionSheet')" name="conditionSheet">Conditions</md-nav-item>
      <md-nav-item class="datasheet__nav" md-nav-click="vm.selectTemplate('selectionSheet')" name="selectionSheet">Selections</md-nav-item>
      <md-nav-item class="datasheet__nav" md-nav-click="vm.selectTemplate('dataSheet')" name="dataSheet">Data Sheet</md-nav-item>
    </md-nav-bar>
  </div>
  <div class="container">
    <section class="dataSheetTemplate" ng-show="vm.currentTemplate === 'selectionSheet'">
      <selection-sheet units="units"></selection-sheet> 
    </section>
    <section class="dataSheetTemplate" ng-show="vm.currentTemplate === 'conditionSheet'">
      <condition-sheet></condition-sheet> 
    </section>
  </div>
</div>