<section class="selectionSheet">
  <div layout="row">
    <div flex="50">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-input-container flex="40">
          <h4 class="md-title">Calculated Area</h4>
        </md-input-container>
        <md-input-container flex="60">
          <label class="datasheet__label">Calculated Area</label>
          <input ng-model="vm.calculatedArea" value="100" disabled>
        </md-input-container>
      </md-nav-bar>
    </div>
    <div flex="50">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-input-container flex="40">
          <h4 class="md-title">Selected Area</h4>
        </md-input-container>
        <md-input-container flex="60">
          <label class="datasheet__label">Selected Area</label>
          <input ng-model="selections.orificeType.area" value="vm.datasheet.orificeSize.area" >
        </md-input-container>
      </md-nav-bar>
    </div>
  </div>
  <div layout="row">
    <div flex="33">
        <h3 class="md-title">Size Basis</h3>
        <div layout="row">
          <md-input-container flex="60">
            <h4 class="md-subhead">Select Valve Type</h4>
          </md-input-container>
          <md-input-container flex="40">
            <md-radio-group>
              <md-radio-button ng-click="vm.addValveType(unit)" ng-value="unit.id" ng-model="selections.valveType" ng-repeat="unit in vm.datasheet.valves">{{unit.name}}</md-radio-button>
            </md-radio-group>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="100">
            <h4 class="md-subhead">Select Orifice Size</h4>
              <md-radio-group class="datasheet__orificeSizeContainer" ng-model="selections.orificeType">
                <md-radio-button class="datasheet__orificeSize--unit" ng-repeat="unit in vm.datasheet.orificeSizes" ng-click="vm.addOrificeSize(unit)" ng-value="{id: unit.id, area: unit.area}">{{unit.orifice_type}} ({{unit.area}})</md-radio-button>
              </md-radio-group>
            </md-input-container>
        </div>
      </div>
      <div flex="33">
        <h3 layout="row" layout-align="center center" class="md-title">{{vm.deviceName}}</h3>
        <div layout="row" layout-align="center center">
          <md-card flex="100">
            <img ng-src="{{vm.deviceImage}}" class="md-card-image" alt="Washed Out">
          </md-card>
        </div>
      </div>
      <div flex="33">
        <h3 layout="row" layout-align="center center" class="md-title">Valve Options</h3>
        <form name="selectionSheet">
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Connection Size</label>
              <md-select name="filteredConnections"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.filteredConnections"
              >
                <md-optgroup label="units">
                  <md-option ng-click="vm.addConnectionSize(unit)" ng-repeat="unit in vm.datasheet.connectionSizes" value="{{unit.id}}">{{unit.size}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Valve Inlet x Oulet</label>
              <md-select name="valveInletByOutlet"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.valveInletByOutlet"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.ixoSizes[0].ixoValves" value="{{unit}}">{{unit.rating}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Flange Facing</label>
              <md-select name="flangeFacing"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.flangeFacing"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.flangeFacings" value="{{unit.id}}">{{unit.dimensions}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Body Material</label>
              <md-select name="bodyMaterial"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.bodyMaterial"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.bodyMaterials" value="{{unit.id}}">{{unit.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Trim Material</label>
              <md-select name="valveInletByOutlet"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.trimType"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.trimMaterials" value="{{unit.id}}">{{unit.type}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Seat Material</label>
              <md-select name="seatMaterial"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.seatMaterial"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.seatMaterials" value="{{unit.id}}">{{unit.type}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Spring Material</label>
              <md-select name="valveInletByOutlet"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.springMaterial"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.springMaterials" value="{{unit.id}}">{{unit.name}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Cap Type</label>
              <md-select name="capType"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.capType"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.datasheet.units.capTypes" value="{{unit.id}}">{{unit.description}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">NACE</label>
              <md-select name="nace"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.nace"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.booleanValues" value="{{unit.value}}">{{unit.text}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-input-container flex="100">
              <label class="datasheet__label">Bellows</label>
              <md-select name="bellows"
                      aria-label="dropdown"
                      id=""
                      ng-model="selections.bellows"
              >
                <md-optgroup label="units">
                  <md-option ng-repeat="unit in vm.booleanValues" value="{{unit.value}}">{{unit.text}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
          <md-button layout="row" layout-align="end center" class="md-raised md-primary" ng-click="vm.processDatasheet(selections)">Select Valve!</md-button>
        </form>
      </div>
    </div>
  </form>
</section>
