@import "src/client/styles/general.scss";

.footer {
  position: relative;
  height: 12em;
  clear: both;
  padding-top: 0.5em;
  background-color: $black;
  color: $white;
}
  .contact-us{
    text-align: right;
    margin-left: 0.5em;
  }
  .quicklinks {
    margin-right: 0.5em;
  }
    .quicklinks-anchor:hover,
    .quicklinks-anchor:active,
    .quicklinks-anchor:visited,
    .quicklinks-anchor:link{
        color:$white;
        text-decoration: none;
    }



  .social-icons {
    margin-top: 15%;
  }
    .social-icon {
      color: #FFFFFF;
      display: inline-block;
      text-align: center;
      margin-left: 1em;
    }
      .icons {
        font-size: 3.6em;
      }

@media (max-width: 750px) {
  .footer {
    height: 6.5em;
    margin-top: -6.7em;
  }
    .footer-h4{
      font-size: 0.75em;
      margin-top: 0.2em;
      margin-bottom: 0.4em;
    }
    .social-icons{
      margin-top: 29%;
    }
    .social-icon {
      margin-left: 0.6em;
    }
      .icons{
        font-size: 1.4em;
      }
}