<section class="footer">
    <div class="address-contact pull-left">
        <div class="contact-us pull-left">
            <h4 class="footer-h4">CONNECT WITH US</h4>
            <h4 class="footer-h4">SizeAndSelect</h4>
            <h4 class="footer-h4">Houston, TX</h4>
            <h4 class="footer-h4"><a class="quicklinks-anchor" href="mailto:info@sizeandselect.com">info@sizeandselect.com</a></h4>
            <h4 class="footer-h4">Knowledge Center</h4>
        </div>
        <div class="social-icons pull-left">
            <a href="https://www.facebook.com/people/Size-Select/100011891563864" class="social-icon">
                <i class="fa fa-facebook icons" aria-hidden="true"></i>
                <div class="name hidden-xs">
                    <h4 class="footer-h4">FACEBOOK</h4>
                </div>
            </a>
            <a href="https://twitter.com/SizeAndSelect" class="social-icon">
                <i class="fa fa-twitter icons" aria-hidden="true"></i>
                <div class="twitter hidden-xs">
                    <h4 class="footer-h4">TWITTER</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="quicklinks pull-right">
        <h4 class="footer-h4">The Details</h4>
        <h4 class="footer-h4"><a class="quicklinks-anchor" href="#">About Us <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></h4>
        <h4 class="footer-h4"><a class="quicklinks-anchor" href="#">Privacy Policy &nbsp; &nbsp;<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></h4>
        <h4 class="footer-h4"><a class="quicklinks-anchor" href="#">Terms Of Use<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></h4>
        <h4 class="footer-h4"><a class="quicklinks-anchor" href="#">Our Security<span class="glyphicon glyphicon-chevron-right pull-right"></span></a></h4>
    </div>
</section>