 <div class="container" flex="100">
  <div flex="100"> 
   <div layout="row">
      <div class="dashboard-header" flex="100">
        <h1 class="dashboard-title">PROJECT DASHBOARD</h1>
        <div class="dashboard-header-btn">
          <md-button class="md-raised md-primary" ng-click="vm.openModal('project')">
            <span class="glyphicon glyphicon-plus"></span> New Project
          </md-button>
          <md-button class="md-raised md-primary">
            <span class="glyphicon glyphicon-search"></span> Search
          </md-button>
        </div>
      </div>
    </div>
    <h4>Active Projects</h4>
    <div class="dashboard__projects dashboard__projects--active">
      <div flex="100" class="dashboard__container" ng-repeat="project in vm.projects" ng-click="enterTag(project.id)">
        <div class="dashboard__container" layout="row" flex="100">
          <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{project.project_name}}</span>
                <span class="md-subhead">Company: {{project.company_name}}</span>
                <span class="md-subhead">Location: {{project.location}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-danger" ng-click="vm.archiveProject(project.id)">Archive</md-button>
              <md-button class="md-primary" ng-click="vm.openProject(project.id)">Open</md-button>
            </md-card-actions>
          </md-card>
        </div>
       </div>
    </div>
    <h4>Completed Projects</h4>
    <div class="dashboard__projects dashboard__projects--completed">
      <div flex="100" class="dashboard__container" ng-repeat="project in vm.completedProjects" ng-click="enterTag(project.id)">
        <div class="dashboard__container" layout="row" flex="100">
          <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{project.project_name}}</span>
                <span class="md-subhead">Company: {{project.company_name}}</span>
                <span class="md-subhead">Location: {{project.location}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-danger" ng-click="vm.archiveProject(project.id)">Archive</md-button>
              <md-button class="md-primary" ng-click="vm.openProject(project.id)">Open</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
    <h4>Archived Projects</h4>
    <div class="dashboard__projects dashboard__projects--archived">
      <div flex="100" class="dashboard__container" ng-repeat="project in vm.archivedProjects" ng-click="enterTag(project.id)">
        <div class="dashboard__container" layout="row" flex="100">
          <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{project.project_name}}</span>
                <span class="md-subhead">Company: {{project.company_name}}</span>
                <span class="md-subhead">Location: {{project.location}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-danger" ng-click="vm.archiveProject(project.id)">Archive</md-button>
              <md-button class="md-primary" ng-click="vm.openProject(project.id)">Open</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>