@import "src/client/styles/general.scss";

.dashboard-header{
    background-color: $grey-dark;
}
    .dashboard-title{
        display: inline-block;
        color: $white;
        margin-left: 2%;
    }

    .dashboard-header-btn{
        float: right;
        margin-top: 1%;
    }
    .dashboard-address{
        display: inline-block;
        padding: 2%;
    }
    .dashboard-device-btn{
        float: right;
        padding: 2%;
    }
    .dashboard-products-body{
        height: 39.3em;
        overflow: auto;
        padding: 2%;
        margin-top: 1em;
    }
    .dashboard-product{
        background-color: $grey-light;
    }
    .no-project-div{
        text-align: center;
        height: 100%;
        line-height: 35em;
    }
        .no-project-text{
            color: $grey;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
.dashboard-products-action{
    padding: 1%;
    padding-left: 2%;
}
    .btn-go{
        float: right;
    }

.advertise-product {
    height: 100%;
    text-align: center;
    font: 0/0 a;
}

.advertise-product:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

@media screen and (max-width: 600px) {
  .dashboard-device-btn {
    padding: 0;
  }
}
