<div class="container" flex="100">
  <md-button ng-click="vm.openModal('addTag')">Create Tag</md-button>
  <div flex="100" class="dashboard__container" ng-repeat="tag in vm.tags">
    <div class="dashboard__container" layout="row" flex="100">
      <md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Project: {{vm.project.project_name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>Tag Name: {{tag.name}}</p>
          <p>Quantity: {{tag.quantity}}</p>
          <p>PID: {{tag.pid}}</p>
          <p>Service: {{tag.service}}</p>
          <p>Line Number: {{tag.line_number}}</p>
          <p>Model Number: {{tag.model_number}}</p>
          <p>Due Date: {{tag.due_date | date:'MM/dd/yyyy'}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-danger" ng-click="vm.archiveTag(_, {tagId: tag.id, projectId: tag.project_id})">Archive</md-button>
          <md-button class="md-primary" ng-click="vm.openTag(tag.id, tag.project_id)">Open</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
