<div class="md-dialog-container">
  <md-dialog id="activeModal" class="md-dialog" aria-label="Signup Modal" flex="40">
    <md-dialog-content>
      <div class="close" ng-click="vm.closeModal()">x</div>
      <form>
        <md-input-container class="md-block">
          <label>Tag Name</label>
          <input required name="projectCompany" ng-model="tag.name" type="text" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>P &amp; ID</label>
          <input required name="projectName" ng-model="tag.pid" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Service</label>
          <input required name="projectLocation" ng-model="tag.service">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Line Number</label>
          <input required name="projectLocation" ng-model="tag.line_number">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Quantity</label>
          <input required name="projectCompany" ng-model="tag.quantity" type="text" value="1" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Model Number</label>
          <input required name="projectName" ng-model="tag.model_number">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Need by Date</label>
          <input required name="projectLocation" ng-model="tag.due_date">
        </md-input-container>
        <md-input-container class="md-block">
          <md-select required ng-model="tag.device" placeholder="Device">
            <md-option ng-repeat="device in vm.devices" ng-value="{{device.id}}" >{{device.name}}</md-option>
          </md-select>
        </md-input-container>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.closeModal()">
        Cancel
      </md-button>
      <md-button ng-click="vm.create(tag)" ng-disabled="signupForm.$invalid">
        Create!
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
