$black : #000000;
$blue : #2196F3;
$blue-dark: #1976D2;
$blue-light: #BBDEFB;
$green : #008000;
$green-dark : #006300;
$grey : #968888;
$grey-dark : #555;
$grey-light : #eee;
$red-warning : #dd2c00;
$white : #FFFFFF;

$primary-color: $blue;
$dark-primary-color: $blue-dark;
$light-primary-color: $blue-light;
$accent-primary-color: #607D8B;

$primary-text-color: #212121;
$secondary-text-color: #727272;

$divider-color: #B6B6B6;
$text-icons-color: $white;