<section class="home" flex="100">
    <div class="layer"></div>
    <div class="home-screen">
        <div class="image">
            <img class="home-screen-image" src="assets/logo.png" alt="logo">
        </div>
        <div class="slogan">
            <h2 class="home-screen-h2">Sizing - Selection - Procurement - Maintenance - Replacement</h2>
        </div>
        <div class="time-saved">
            <h2 class="home-screen-h2">Time Our Software Has Saved Engineers:</h2>
            <div class="timer">
                <div class="flipClock">
                </div>
            </div>
        </div>
    </div>
</section>
