@import "src/client/styles/general.scss";
    .layer {
        background-image: $factory-image;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home-screen {
        position: relative;
        padding-top: 1em;
        text-align: center;
        color: $white;
        background-color: rgba(18, 88, 163, 0.9);;
        height: 100%;
        width: 100%;
    }
        .home-screen-h2{
            font-size: 2.85em;
        }
        .image {
            margin-top: 1.3em;
        }
            .home-screen-image {
                width: 35%;
            }
        .time-saved{
            margin-top: 12.5em;
        }
        .flip-clock-divider .flip-clock-label{
            color: $white;
        }
        .timer{
            display: inline-block;
            margin: 2.87em 0;
        }
        .bg-image {
            width: 100%;
            height: 100%;
        }

@media (max-width: 750px) {
    .home {
        padding-bottom: 6.65em;
    }
        .home-screen-h2{
            font-size: 1.45em;
        }
        .home-screen-image{
            width: 70%;
        }
        .flipClock{
            zoom: 0.4;
        }
}