<div class="md-dialog-container">
  <md-dialog id="activeModal" class="md-dialog" aria-label="Signup Modal" flex="40">
    <form name="signupForm">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Sign up</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.closeModal()">
            <md-icon><i class="fa fa-close close-icon"></i></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Username</label>
            <input required name="username" ng-model="user.username" type="text">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input required name="password" type="password" ng-model="user.password">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirm Password</label>
            <input required name="confirmPassword" type="password" ng-model="vm.confirmPassword">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input required name="email" ng-model="user.email" type="email">
          </md-input-container>
          <div ng-if="user.password != vm.confirmPassword">
            <span class="password-mismatch">Password Doesn't Match</span>
          </div>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button ng-click="vm.closeModal()">
          Cancel
        </md-button>
        <md-button ng-click="vm.registerUser(user)" ng-disabled="signupForm.$invalid">
          Sign up
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>