<section>
  <section ng-if="vm.template === 'register'">
    <signup-modal class="overlay"></signup-modal>
  </section>
  <section ng-if="vm.template === 'project'">
    <project-modal class="overlay"></project-modal>
  </section>
  <section ng-if="vm.template === 'addTag'">
    <tag-modal class="overlay"></tag-modal>
  </section>
  <section ng-if="vm.template === 'login'">
    <login-modal class="overlay"></login-modal>
  </section>
</section>
