.overlay {
  background: rgba(0,0,0,.87);
}

.fade-in {
  opacity: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

.fade-out {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: translate(0, 100%) scale(0.2);
  transform: translate(0, 100%) scale(0.2); 
}

.modal_main{
  background-color: #ccc;
  border-radius: 20px;
  // display: flex;
  // justify-content: space-between;
  // align-items:center;
  position: absolute;
  z-index: 1000;
  padding: 2%;
  max-width: 550px;
  top: 250px;
  left: 40%;
  bottom: auto;
  right: auto;

  .close{
    position: absolute;
    right: 2%;
    top: 4%;
    font-size: .9em;
  }

  .modal__registration{
    padding: 0 25px;
  }

  .modal__input{
    display: inline-block;
    border-radius: 10px;
    margin:5px 0;
  }

  .modal__input--login{
    text-align: center;
    height:auto;
    font-size: 0.8em;
  }

  .modal__input--button{
    text-align: center;
    background-color: #1381B4;
    color: white;
    border-radius: 25px;
    width: 300px;
    line-height: 30px;
  }

  .modal__select{
    background-color:white;
    height:35px;
    width:354px;
    display: inline-block;
  }

}