<div class="md-dialog-container">
  <md-dialog id="activeModal" class="md-dialog" aria-label="Signup Modal" flex="40">
    <md-dialog-content>
      <div class="close" ng-click="vm.closeModal()">x</div>
      <form>
        <md-input-container class="md-block">
          <label>Company</label>
          <input required name="projectCompany" ng-model="project.company" type="text">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Name</label>
          <input required name="projectName" ng-model="project.name">
        </md-input-container>
        <md-input-container class="md-block">
          <label>Location</label>
          <input required name="projectLocation" ng-model="project.location">
        </md-input-container>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="vm.closeModal()">
        Cancel
      </md-button>
      <md-button ng-click="vm.create(project)" ng-disabled="signupForm.$invalid">
        Create!
      </md-button>
    </md-dialog-actions>
  </md-dialog>
</div>
