<section class="conditionSheet" class="md-padding">
  <div layout="row">
    <div layout="row" flex="50">
      <md-radio-group ng-model="conditions.mediaType" class="condition__radio_group">
        <p class="condition__radio-label">Media Type</p>
        <md-radio-button ng-value="unit.id" ng-click="vm.addMediaType(unit.id)" ng-repeat="unit in vm.tagUnits.mediaTypes" class="md-raised md-disabled">{{unit.name}}</md-radio-button>
      </md-radio-group>
    </div>
    <div layout="row" flex="50">
      <md-radio-group class="condition__radio_group" ng-model="conditions.codeType">
        <p class="condition__radio-label">Code Type</p>
        <md-radio-button ng-value="unit.id" ng-repeat="unit in vm.tagUnits.codeTypes" class="datasheet__radio md-raised md-disabled">{{unit.name}}</md-radio-button>
      </md-radio-group>
    </div>
  </div>
  <div layout="row" >
    <div flex="50" layout="column">
      <form name="conditionSheet">
        <div layout="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="datasheet__label">Media Name</label>
            <input ng-model="conditions.media">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="datasheet__label">Specific Gravity</label>
            <input ng-model="conditions.specificGravity">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Viscosity</label>
            <input ng-model="conditions.viscosity">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="viscosityUnits"
                    id=""
                    ng-model="conditions.viscosityUnit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="visocistyUnit in vm.tagUnits.viscosityUnits" value="{{visocistyUnit.id}}">{{visocistyUnit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Relief Temp</label>
            <input ng-model="conditions.reliefTemperature">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="reliefTemperature"
                    id=""
                    ng-model="conditions.reliefTemperature_unit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="temperatureUnit in vm.tagUnits.tempUnits" value="{{temperatureUnit.id}}">{{temperatureUnit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Operating Temp</label>
            <input ng-model="conditions.operatingTemperature">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="operatingTemperature"
                    id=""
                    ng-model="conditions.operatingTemperature_unit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="temperatureUnit in vm.tagUnits.tempUnits" value="{{temperatureUnit.id}}">{{temperatureUnit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Design Min Temp</label>
            <input ng-model="conditions.designMinTemperature">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="designMinTemperature"
                    id=""
                    ng-model="conditions.designMinTemperature_unit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="temperatureUnit in vm.tagUnits.tempUnits" value="{{temperatureUnit.id}}">{{temperatureUnit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Design Max Temp</label>
            <input ng-model="conditions.designMaxTemperature">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="designMaxTemperature"
                    id=""
                    ng-model="conditions.designMaxTemperature_unit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="temperatureUnit in vm.tagUnits.tempUnits" value="{{temperatureUnit.id}}">{{temperatureUnit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="70">
            <label class="datasheet__label">Required Flow Capacity</label>
            <input ng-model="conditions.requiredFlowCapacity">
          </md-input-container>
          <md-input-container flex="30">
            <label class="datasheet__label">Units</label>
            <md-select name="flowCapacity"
                    id=""
                    ng-model="conditions.requiredFlowCapacity_unit"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="unit in vm.tagUnits.requiredFlowCapacityUnits" value="{{unit.id}}">{{unit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
    </div>
    <div flex="50" layout="column">
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">ATM</label>
          <input ng-model="conditions.atmPressure">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="ATM"
                  id=""
                  ng-model="conditions.atmPressure_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">MAWP</label>
          <input ng-model="conditions.mawp">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="MAWP"
                  id=""
                  ng-model="conditions.mawp_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">Operating Pressure</label>
          <input ng-model="conditions.operatingPressure">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="operatingPressure"
                  id=""
                  ng-model="conditions.operatingPressure_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">Set Pressure</label>
          <input ng-model="conditions.setPressure">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="setPressure"
                  id=""
                  ng-model="conditions.setPressure_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">Built Up Back Pressure</label>
          <input ng-change="vm.addBackpressure(conditions.backPressureBuiltUp)" ng-model="conditions.backPressureBuiltUp">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="builtUpBackPressure"
                  id=""
                  ng-model="conditions.backPressureBuiltUp_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">Var Superimposed</label>
          <input ng-change="vm.addVarSuperimposed(conditions.varSuperimposed)"  ng-model="conditions.varSuperimposed">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="variableSuperImposed"
                  id=""
                  ng-model="conditions.varSuperimposed_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="70">
          <label class="datasheet__label">Constant Superimposed</label>
          <input ng-change="vm.addConstantSuperimposed(conditions.constantSuperimposed)"  ng-model="conditions.constantSuperimposed">
        </md-input-container>
        <md-input-container flex="30">
          <label class="datasheet__label">Units</label>
          <md-select name="constantSuperimposed"
                  id=""
                  ng-model="conditions.constantSuperimposed_unit"
          >
              <md-optgroup label="units">
              <md-option ng-repeat="unit in vm.tagUnits.pressureUnits" value="{{unit.id}}">{{unit.name}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="100">
            <label class="datasheet__label">Total Backpressure</label>
            <input ng-model="vm.totalBackPressure" value="100">
        </md-input-container>
      </div>
    </div>
    </div>
    <div layout="row">
      <div flex="33">
        <h3 class="md-title">Size Basis</h3>
        <div layout="row">
          <md-input-container flex="30">
            <h4 class="md-subhead">Sizing Basis</h4>
          </md-input-container>
          <md-input-container flex="70">
            <label class="datasheet__label">Units</label>
            <md-select name="sizingBasis"
                    id=""
                    ng-model="conditions.sizingBasis"
            >
              <md-optgroup label="units">
                <md-option ng-click="vm.addSizingBasis(unit.id)" ng-repeat="unit in vm.tagUnits.sizingBasis" value="{{unit.id}}" ng-selected="$first">{{unit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="30">
            <h4 class="md-subhead">Overpressure</h4>
          </md-input-container>
          <md-input-container flex="70">
            <input ng-model="vm.overpressure" type="text" value="10%">
          </md-input-container>
        </div>
      </div>
      <div flex="33">
        <h3 class="md-title">Inlet Loss or Rupture Disc</h3>
        <div layout="row">
          <md-input-container flex="30">
            <h4 class="md-subhead">Inlet Loss %</h4>
          </md-input-container>
          <md-input-container flex="70">
            <input ng-model="conditions.inletLossPercent">
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="30">
            <h4 class="md-subhead">Inlet Loss</h4>
          </md-input-container>
          <md-input-container flex="70">
            <md-input-container flex="70">
              <input ng-model="conditions.inletLoss">
              </md-select>
            </md-input-container>
          </md-input-container>
        </div>
        <div layout="row" layout-align=" center">
          <md-input-container flex="70">
            <h4 class="md-subhead">Rupture Disc</h4>
          </md-input-container>
          <md-input-container flex="30">
            <md-checkbox
                ng-model="conditions.ruptureDiscCheckbox"
                flex>
          </md-input-container>
        </div>
      </div>
      <div flex="33">
        <h3 class="md-title">Calculated Orifice</h3>
        <div layout="row" layout-align=" center">
          <md-input-container flex="40">
            <h4 class="md-subhead">Orifice Required</h4>
          </md-input-container>
          <md-input-container flex="60">
            <label class="datasheet__label">Units</label>
            <input ng-model="conditions.orificeSizing">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex="100">
            <label class="datasheet__label">ASME Sizing</label>
            <md-select name="ASME"
                    id=""
                    ng-model="conditions.asmeSizing"
            >
              <md-optgroup label="units">
                <md-option ng-repeat="unit in vm.tagUnits.asmeSizings" value="{{unit.id}}">{{unit.name}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="vm.processDatasheet(conditions); vm.selectTemplate('selectionSheet')">Next!</md-button>
        </div>
      </div>
    </div>
      </form>
  </div>
</section>
