@import "src/client/styles/general.scss";

.conditionSheet{
  position: relative;
  .condition__radio_group {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .condition__radio-label{
    margin: 0;
    color: $primary-text-color;
    font-weight: 800;
    font-size: 1.2em;
  }
}

