<div class="md-dialog-container">
  <md-dialog id="activeModal" aria-label="login Modal" ng-cloak flex="30">
    <form name="loginForm">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Login</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="vm.closeModal()">
              <md-icon><i class="fa fa-close close-icon"></i></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Username</label>
            <input required name="username" ng-model="user.username">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input required name="password" type="password" ng-model="user.password">
          </md-input-container>
        </div>
      </md-dialog-content>
      <md-dialog-actions layout="row">
        <md-button ng-click="vm.closeModal()">
            Cancel
        </md-button>
        <md-button ng-click="vm.login(user)" ng-disabled="loginForm.$invalid">
            Login
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>