extends ../../partials/html.jade

block email-content
    +emailFirstName(firstName)
    p This email is being sent to confirm that you have changed your password.
    p If you did not recently change your password, please let us know by responding to this email immediately.