<div id="app">
  <main>
    <modal></modal>
    <navigation></navigation>
    <div layout="row">
      <div ui-view flex="100" layout="row" layout-align=" start"></div>
    </div>
    <footer class="footer"></footer>
  </main>
</div>
